{{- /*
SPDX-FileCopyrightText: Copyright (C) SchedMD LLC.
SPDX-License-Identifier: Apache-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: scheduler-config
  namespace: {{ .Release.Namespace }}
data:
  scheduler-config.yaml: |
    apiVersion: kubescheduler.config.k8s.io/v1
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: {{ .Values.scheduler.leaderElect }}
      resourceNamespace: {{ .Release.Namespace }}
      resourceName: {{ include "slurm-bridge.scheduler.name" . }}
    profiles:
    - schedulerName: {{ include "slurm-bridge.scheduler.name" . }}
      plugins:
        queueSort:
          enabled:
          - name: 'PrioritySort'
        preEnqueue:
          enabled:
          - name: 'SlurmBridge'
        preFilter:
          enabled:
          - name: 'VolumeBinding'
          - name: 'SlurmBridge'
        filter:
          enabled:
          - name: 'VolumeBinding'
          - name: 'TaintToleration'
          - name: 'SlurmBridge'
        postFilter:
          enabled:
          - name: 'SlurmBridge'
        reserve:
          enabled:
          - name: 'VolumeBinding'
        preBind:
          enabled:
          - name: 'VolumeBinding'
          - name: 'SlurmBridge'
        bind:
          enabled:
          - name: 'DefaultBinder'
        multiPoint:
          disabled:
          - name: '*'
      pluginConfig:
      - name: SlurmBridge
